.topnav{
background-color: #A97155;
padding: 15px 20px;
text-align: center;
}

.topnav a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 20px;
}
  
/*topnav click*/
.topnav a:hover {
    background-color: #3A3845;
    color: #00AFC1;
}

.mypic {
    height: 200px;
    width: 200px;
    text-align: center;
}

.aboutme {
    text-align: center;
}
.indent {
    padding-top: 4rem;;
    text-indent: 50px;
    line-height: 2rem;
    width: 95%;
    margin: auto;
}
.contactme {
    margin-left: 20px;
}

.row1 {
    text-align: center;
    margin: auto
}

.mypic1 {
    height: 50px;
    display: inline;

}

.space {
    padding-left: 20px;
    padding-right : 20px;
}



/*div in All-fieldset*/
.All-fieldset{
    padding-top: 25px;
}

/*Text_outline*/
.outline{
    border-radius: 6px;
    padding-top: 10px;
    border: 2px solid #f1f1f1;
}

/*Text_in_outline*/
.Text_in_outline{
  text-align: center;
  padding-bottom: -20px;
}

/*text_My_Application*/
.text_My_Application{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}


/*Search_Product*/
.Search_Product{
    border-radius: 6px;
    padding: 8px 8px;
    margin: auto;
    width: 40%;
    margin-top: 8px;
    margin-right: 5px;
    border: 2px solid #d8d8d8;
}

/*Search_button*/
.Search_button{
    text-align: center;
    background-color: #A97155;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: auto;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 6px;
}

/*hover:Search_button*/
.Search_button:hover{
    background-color: #3A3845;
    color: #00AFC1;
}


/*text_New_Product*/
.text_New_Product{
    float: right;
    margin-top: 15px;
    margin-right: 125px;
    color: #05595B;
}

/*hover: text_New_Product*/
.text_New_Product:hover{
    color: #4D77FF;
}


/*Portfolio*/

.Portfolio_division_1{
    width: 50%;
    height: auto;
    float: left;
}



/* Product Row*/

/*Left Row */

.img-toms{
    width: 250px;
    height: 250px;
    display: inline;
    margin-top: 50px;
    margin-left: 50px;
}

.img-sampleleft{
    width: 250px;
    height: 250px;
    display: inline;
    margin-top: 50px;
    margin-left: 50px;
}

/* Right Row */

.img-sampleright{
    width: 250px;
    height: 250px;
    margin: 50px 50px;
    display: inline;
    margin-left: 90px;
}