.App {
  text-align: center;
}

h1 {
  text-align: center;
  color: #005555;
}
p {
  margin-left: 1%;
  margin-right: 1%;
}
.footer {
  margin-top: 2%;
  text-align: center;
  color: #FF4949;
}

.space {
  margin-left : 2%;
  font-size : 1 rem;
  
}

.middle {
  text-align : center;

}

.login {
  display : flex;
  justify-content : flex-end;
  padding-right : 10px;
}
