.mypic {
    height: 200px;
    width: 200px;
    text-align: center;
}
.aboutme {
    text-align: center;
}
h3 {
    text-indent: 50px;
    line-height: 2rem;
    width: 95%;
    margin: auto;
}
.contactme {
    margin-left: 20px;
}

/* portfolio */
.row1 {
    text-align: center;
}

.mypic1 {
    height: 30px;
}

.space {
    padding-left: 20px;
    padding-right : 20px;
}

.flex{
    display: flex;
    
}

td {
    width: 200px;
}
fieldset {
    width: 500px;
    margin: auto;
}

.center {
    margin: auto;
    width: 25%
}