* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    text-align: left;
  }
  
  .header {
    text-align: left;
    font-size: 1.5rem;
    
  }
  
  .MobileContent {

    display: none;
  text-align:right;
  color: red;

}

.DesktopContent {
  text-align:right;
  color: blue;
}


@media (min-width: 700px) {
.header {
  font-size: 2rem;
}
}



@media screen and (max-width: 500px) {

.MobileContent {

    display:block;

}
.DesktopContent {
  display:none;
}

}

